* {
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

:root {
  --border-color: #e0e0e0;
  --border-radius: 0.5em;
  --border-thick: 0.2em solid var(--border-color);
  --border-thin: 0.1em solid var(--border-color);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

main {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

h1 img, h3 img {
  margin-bottom: -0.15em;
}

h1 {
  font-size: 2em;
}

a {
  color: #005899;
  text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: grabbing;
}

form.inline {
  display: inline-block;
}

a.button, button, input, select {
  display: inline-block;
  margin-left: 0.2em;
  margin-right: 0.2em;
  font-size: 0.8em;
  color: #161616;
  background-color: #e9e9ed;
  border: var(--border-thick);
  border-radius: 0.5em;
  box-sizing: border-box;
  padding: 10px;
}

a.button:hover, button:hover {
  background-color: #d0d0d7;
  text-decoration: none;
}

button.unstyled {
  border: none;
  background: none;
}

form .group > * {
  margin-right: 0;
  margin-left: -0.2em;
}

form .group :first-child {
  border-radius: 0.5em 0 0 0.5em;
}

form .group :last-child {
  border-radius: 0 0.5em 0.5em 0;
}

ul.unstyled {
  padding: 0;
  list-style: none;
  border: var(--border-thin);
  border-radius: 0.5em;
}

ul.unstyled li {
  border-bottom: var(--border-thin);
  padding: 0.5em;
}

ul.unstyled li:last-child {
  border-bottom: none;
}

ul.unstyled li button {
}

.pull-right {
  position: relative;
  top: -0.3em;
  float: right;
}
