* {
  margin: 0.2em;
}

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1 img, h3 img {
  margin-bottom: -0.15em;
}

h1 {
  font-size: 40px;
}

a {
  color: #005899;
  text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: grabbing;
}

a.button, button, input, select {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  display: inline-block;
  font-size: 14px;
  color: #161616;
  background-color: #e9e9ed;
  border-color: #e0e0e0;
  border-style: solid;
  border-radius: 0.5em;
  border-width: 0.2em;
  box-sizing: border-box;
  padding: 10px;
}

a.button:hover, button:hover {
  background-color: #d0d0d7;
  text-decoration: none;
}

form .group > * {
  margin-right: 0;
  margin-left: -0.2em;
}

form .group :first-child {
  border-radius: 0.5em 0 0 0.5em;
}

form .group :last-child {
  border-radius: 0 0.5em 0.5em 0;
}

pre {
  text-align: left;
  border-width: 0.1em;
  border-color: #e0e0e0;
  border-style: solid;
  border-radius: 0.5em;
  height: 10em;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  padding: 1em;
}
