* {
  box-sizing: border-box;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --border-color: #e0e0e0;
  --border-radius: 0.5em;
  --border-thick: 0.2em solid var(--border-color);
  --border-thin: 0.1em solid var(--border-color);
  --small-width: 420px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 350px;
  width: 100%;
}

main > * {
  margin: 0.5em;
}

main > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  padding: 0.5em;
  text-align: center;
  width: 100%;
}

main > .container > * {
  margin: 0.5em;
}

header {
  margin: 0;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

header h1,
header h2 {
  padding-left: 0.2em;
}

header a.login {
  font-size: 0.8em;
}

.user-banner span {
  font-size: 0.8em;
}

h1 img.app-logo,
h2 img.app-logo {
  margin-bottom: -0.15em;
  height: 1em;
}

h1 {
  font-size: 1.75em;
}

a {
  color: #005899;
  text-decoration: none;
}

a:hover {
  text-decoration-line: underline;
}

button {
  cursor: pointer;
}

button[disabled] {
  cursor: grabbing;
}

button svg {
  border: none !important;
  margin: 0;
}

form.inline {
  display: inline-block;
}

a.button,
button,
input,
select {
  display: inline-block;
  margin-left: 0.2em;
  margin-right: 0.2em;
  font-size: 0.8em;
  color: #161616;
  background-color: #e9e9ed;
  border: var(--border-thick);
  border-radius: 0.5em;
  padding: 0.7em;
}

@media (max-width: 549px) {
  header {
    min-width: 400px;
  }

  form .group > * {
    width: 100%;
    display-block: 100%;
    margin: 0.2em;
  }
}

hr {
  border: none;
  border-top: var(--border-thin);
  width: 2em;
  margin-top: 1.7em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

small {
  font-size: 60%;
}

svg.qr-code {
  margin: 1em;
}

a.button:hover,
button:hover {
  background-color: #d0d0d7;
  text-decoration: none;
}

button.unstyled {
  border: none;
  background: none;
}

@media (min-width: 550px) {
  form .group > * {
    margin: 0.5em;
    margin-right: 0;
    margin-left: 0;
    border-left: none;
    border-radius: 0;
    position: relative;
    z-index: 2;
  }

  form .group :focus {
    z-index: 3;
  }

  form .group :first-child {
    border-left: var(--border-thick);
    border-radius: 0.5em 0 0 0.5em;
  }

  form .group :last-child {
    border-radius: 0 0.5em 0.5em 0;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

ul.unstyled {
  padding: 0;
  list-style: none;
  border: var(--border-thin);
  border-radius: 0.5em;
  width: 100%;
}

ul.unstyled li {
  border-bottom: var(--border-thin);
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul.unstyled li:last-child {
  border-bottom: none;
}

ul.unstyled li :first-child {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 18em;
}

ul.unstyled li button {
  padding: 0.2em;
}

.hidden {
  visibility: hidden;
}
