* {
  margin: 0.2em;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

h1 img {
  margin-bottom: -0.15em;
}

pre {
  text-align: left;
  border: 1px solid black;
  height: 10em;
  margin-left: auto;
  margin-right: auto;
  overflow-y: auto;
  padding: 1em;
}
